html {
  margin: 0;
}

body {
  font-size: 20px;
  color: #003300;
  margin: 0;
  padding: 0 0 50px 0;
  background-image: url(img/norwegian_rose-fs8.png);
  font-family: 'Economica';
}

img.alvar {
  float: left;
  margin-right: 50px;
  margin-bottom: 100px;
}

#invite {
  padding: 10px;
  min-height: 400px;
  margin: 0 auto 0 auto;
  width: 90%;
  background: url(img/header.png) top center no-repeat;
}

#plaque-outer {
  margin: 0 auto 0 auto;
  padding-top: 25px;
  width: 80%;
  background: url(img/blizzard_tear_top-fs8.png) top left repeat-x;
}

#plaque {
  padding-bottom: 25px;
  background: url(img/blizzard_tear-fs8.png) bottom left repeat-x;
}

#plaque-inner {
  height: 500px;
  overflow: hidden;
  background: url(img/blizzard-fs8.png) bottom left;
}

#plaque p {
  margin: 0 0 1em 0;
}

#plaque a {
  color: #003300;
}

#plaque .section {
  text-align: center;
  position: relative;
  padding: 50px;
  height: 450px;
  overflow: hidden;
}

h1 {
  font-size: 4em;
  text-align: center;
  font-family: 'Yesteryear';
  font-weight: normal;
  line-height: 0.8em;
  margin: 0 20% 0em 20%;
  padding-top: 0.5em;
  text-shadow: rgb(150, 150, 150) 0 1px 3px;
}
      
h1 a {
  color: #F5F5F5;
}

a {
  color: #FFFFFF;
}

h1 a {
  text-decoration: none;
}

ul, dl, ul li, dl dt, dl dd {
  display: block;
  padding: 0;
  margin: 0;
}

dl dt {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-weight: bold;
  padding: 0;
}

@media all and (max-width: 900px) {
  #plaque-outer {
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  h1 {
    font-size: 3em;
  }

  .crop-250-top {
    height: 250px;
    overflow: hidden;
  }

  #invite {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  #plaque img {
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
  }
  
  #plaque-inner {
    height: auto;
    overflow: auto;
  }
  
  #plaque-inner .section {
    padding: 0 0 50px 0;
    margin: 0 0 30px 0;
    height: auto;
    overflow: auto;
    
    background: url(img/separator.svg) bottom center no-repeat;
  }

  #plaque-inner .section p {
    padding-left: 10px;
    padding-right: 10px;
  }

  #plaque p {
    margin: 1em 0 1em 0;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
      body {
        background-image: url(img/norwegian_rose_@2X-fs8.png);
        background-size: 48px 48px;
      }
      #plaque-outer {
        background-image: url(img/blizzard_tear_top@2X-fs8.png);
        background-size: 25px 25px;
      }
      #plaque {
        background-image: url(img/blizzard_tear_@2X-fs8.png);
        background-size: 25px 25px;
      }
      #plaque-inner {
        background-image: url(img/blizzard_@2X-fs8.png);
        background-size: 25px 25px;
      }
}